.navbar {
  width: 100%;
  background: #0c0c0c;
  color: white;
  padding: 14px 0;
}

.nav-container {
  max-width: 1200px;
  margin: auto;
  padding: 0 20px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 22px;
  font-weight: bold;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 30px;
  align-items: center;
}

.nav-links a {
  color: white;
  text-decoration: none;
  padding: 4px 6px;
  transition: 0.2s;
}

.nav-links a:hover {
  color: #4ac2ff;
}

.dropdown {
  position: relative;
  cursor: pointer;
}

.dropdown-menu {
  position: absolute;
  top: 30px;
  background: #101010;
  border-radius: 6px;
  padding: 8px 0;
  list-style: none;
  min-width: 170px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.25);
}

.dropdown-menu li a {
  display: block;
  padding: 10px 15px;
}

.dropdown-menu li a:hover {
  background: #1b1b1b;
}
